hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.page-header {
  padding: 1rem 2rem;
  /* Adjust as needed */
  min-height: 200px;
  /* Optional: force a minimum height */
}

/* Optional: Adjust the font or spacing inside the banner */
.page-header h1,
.page-header h2 {
  margin: 0.5rem 0;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 38px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1
}

header h1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px
}

header h2 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0
}