<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {%- seo -%} {%- feed_meta -%}

  <!-- Main Styles -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" /> <link
  rel="stylesheet" href="{{ "/css/override.css" | relative_url }}">
  <!-- Google Analytics -->
  {% include google-analytics.html %}

  <!-- highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css" />
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />

  <script src="/js/highlightjs/highlight.min.js"></script>
  <script src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script src="/js/highlightjs/languages/powershell.min.js"></script>
  <script src="/js/highlightjs/languages/tsql.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>

  <!-- Mermaid.js support -->
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";
    mermaid.initialize({ startOnLoad: true, theme: "neutral" });
  </script>
</head>
