<hr />
<div class="post_navi">
  {%- assign prev = page.previous -%} {%- if prev and prev.tags contains "wip"
  -%} {%- assign prev = nil -%} {%- endif -%} {%- assign next = page.next -%}
  {%- if next and next.tags contains "wip" -%} {%- assign next = nil -%} {%-
  endif -%} {%- if prev -%}
  <a
    class="post_navi-item nav_prev"
    href="{{ prev.url }}"
    title="{{ prev.title }}"
  >
    <div class="post_navi-arrow">&lt;</div>
    <div class="post_navi-label">Previous Post</div>
    <div><span>{{ prev.title }}</span></div>
  </a>
  {%- else -%}
  <a
    class="post_navi-item nav_prev"
    href="{{ 'index.html' | absolute_url }}"
    title="Blog Archive"
  >
    <div class="post_navi-arrow">&lt;</div>
    <div class="post_navi-label">Blog Archive</div>
    <div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%} {%- if next -%}
  <a
    class="post_navi-item nav_next"
    href="{{ next.url }}"
    title="{{ next.title }}"
  >
    <div class="post_navi-arrow">&gt;</div>
    <div class="post_navi-label">Next Post</div>
    <div><span>{{ next.title }}</span></div>
  </a>
  {%- else -%}
  <a
    class="post_navi-item nav_next"
    href="{{ 'index.html' | absolute_url }}"
    title="Blog Archive"
  >
    <div class="post_navi-arrow">&gt;</div>
    <div class="post_navi-label">Blog Archive</div>
    <div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
</div>
